body{
    font-size: 16px;
    color: black;
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: black;
    /* background: url("back.jpg"); */
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

main{
    padding: 1.5rem 5%;
    margin: 20px 7.9%;
}

button:focus {outline:0;
}

/*NAV BAR*/

header{
  position: relative;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
  background: #fff;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  /* opacity: 0.5; */
}

.active{
  transition: 1s;
}

.logo{
  color: #069370;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  padding: 0 20px;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  float: left;
  font-weight: 700;
}
nav{
  float: right;
}
.clearfix{
  clear: both;
}
nav ul{
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li{
  list-style: none;
}

nav ul li a{
  display: block;
  margin: 10px 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
}

nav ul li a.active,
nav ul li a:hover{
  background: #069370;
  color: white;
  transition: 0.7s;
  text-decoration: none;

}

@media (max-width: 1200px){
  header{
      margin: 20px;
      
  }
}


@media (max-width: 651px){
  .menu-toggle{
      display: block;
      width: 40px;
      height: 40px;
      margin: 10px;
      float: right;
      cursor: pointer;
      text-align: center;
      font-size: 30px;
      color: #069370;
  }
  .menu-toggle::before{
      content: '\f0c9';
      font-family: fontAwesome;
      line-height: 40px;
  }
  .menu-toggle.active::before{
      content: '\f00d';
      

  }
  nav{
      display: none;
  }
  nav.active{
      display: block;
      width: 100%;
  }
  nav.active ul{
      display: block;
  }
  nav.active ul li a{
      margin: 0;
  }
}


/* SERVICES */

#services{
    /* background-color: #F5F5F5;*/
    background-color:#22252a; 
    
}

#services h1{
    font-family: 'Rowdies', cursive;
    text-align: center;
    text-decoration-line:underline;
    font-size: 3rem;
    color: white;
}

.card{
    background-color: white;
    transition: 0.5s;
    cursor: pointer;
    position: static;
}

.card:hover{
    box-shadow: 2px 2px 20px #a5a4a4;
}

.card img{
    margin-top: 1rem;
    height: 15rem;
}

.card-text{
    color: rgb(165, 165, 165);
}

.card a:link {
    color: none;
    text-decoration: none;
}

.card a:hover{
    color: none;
}

/* About Us */

.container{
	max-width:1140px;
	margin:auto;
	position: relative;
    min-height: 1px;
    
}

#team{
	min-height: 100vh;
	padding:60px 15px;
	background-color:#22252a; 
	/* float: left; */
    /* width: 100%; */
    padding: 1.5rem 5%;
    margin: 20px 7.9%;
}
#team h1{
	font-size: 36px;
	font-family: open sans;
	font-weight: 700;
	color:#ffffff;
	margin:0;
	padding-bottom:60px;
	text-align: center;
}
#team .card{
	width:25%;
	float: left;
	padding:0px 15px;
}
#team .card .box {
	padding:15px;
	background-color: #2d3035;
	border-radius:5px;
	transition: margin 1s ease,box-shadow 1s ease;
}
#team .card .box:hover{
	margin-top:-15px;
	box-shadow:0px 0px 40px black;
}
#team .card .box img{
    width:170px;
    height: 210px;
	display: block;
	margin:10px auto;
	border-radius:80%;

}

#team .card .box h4{
	font-size: 20px;
	font-family: open sans;
	margin:20px 0px 10px;
	color:#ea5e71;
	text-align: center;
	font-weight: 700;
}

#team .card .box h5{
	font-size:16px;
	font-family: open sans;
	font-weight: 600;
	color:#b9b9b9;
	margin:0px 0px 15px;
	text-align: center;
}
#team .card .box p{
	color:#b9b9b9;
	font-size: 15px;
	font-family: open sans;
	font-weight: 400;
	line-height: 24px;
	text-align: center;
	padding:0px 20px;
}



/*responsive*/

@media(max-width: 991px){
	.team .card{
		width:50%;
		margin-bottom:30px;
	}
}

@media(max-width:550px){
	.team .card{
		width:100%;
	}
}

/*contact us*/
/* Style inputs */
input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius:5px;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  border:none;
  border-bottom: 0.5px solid black;
  color:grey;
  font-size: 15px;

}

input[type=submit] {
  background-color: #069370;
  border-radius: 5px;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

/* Style the container/contact section */
.container1 {
  background-color: #f2f2f2;
  padding: 10px;
  margin-left:8%;
  margin-right: 8%;
  background-image: url("adam.jpg");
  background-position: no-repeat;
  background-size:cover;
}

.overlay{
  background-color: rgb(0, 0, 0,0.7);
  border-radius: 5px;
  padding: 10px;
}
/* Create two columns that float next to eachother */
.column {
  float: left;
  width: 40%;
  margin-top: 6px;
  margin-left:  30%;
  margin-right: 30%;
  color:white;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
   input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
  .column {
    float: left;
    width: 100%;
    margin-top: 6px;
    color:white;
  }
}














/* .team{
    margin: 75px 0;
    height: 700px;
    background: #fff;
    /* justify-content: center; 
}

h1{
    text-align: center;
    font-weight: bold;
    letter-spacing: 2px;
    color: #333;
    padding-bottom: 10px;
}

h1::after{
    content: '';
    background: #333;
    display: block;
    height: 3px;
    width: 200px;
    margin: 10px auto;
}

.profile{
    margin-top: 25px;
    position: relative;
}

.profile .img-box{
    opacity: 1;
    display: block;
    position: relative;
}

.profile h2{
    font-size: 22px;
    font-weight: bold;
    margin-top: 15px;
}

.profile h3{
    font-size: 15px;
    font-weight: bold;
    margin-top: 15px;
}
.img-res{
    height: 200px;
    width: 190px;
}
.img-box::after{
    content: '';
    opacity: 1;
    background-color: rgba(0,0,0,0.6);
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
}

.img-box ul{
    margin: 0;
    padding: 20px 0;
    position: absolute;
    z-index: 1;
    bottom: 0;
    display: block;
    left: 50%;
    transform: translateX(-50%);
    opacity: 1;
}

.img-box ul li{
    width: 30px;
    height: 30px;
    border: 1px solid #fff;
    border-radius: 50%;
    margin: 3px;
    padding: 7px;
    display: inline-block;
}

.img-box a{
    columns: #fff;
}

.img-box:hover::after{
    opacity: 1;
}

.img-box:hover ul{
    opacity: 1;
}

.img-box a:hover li{
    color: #007bff;
    border: 1px solid #007bff;
}

.img-box:after, .img-box ul, .img-box ul li{
    transition: all 0.5s ease-in-out 0s;
} */

/* BLOGS */

#blogs{
    background-color: rgb(37, 36, 36);
}

#blogs h1{
    font-family: 'Alfa Slab One', cursive;
    color: rgb(132, 139, 129);
    font-size: 4rem;
    letter-spacing: 2px;
    margin-bottom: 2.5rem;
}

.date, .by-line{
    color: rgb(104, 102, 102);
}

#blogs p{
    color: whitesmoke;
}

.blog{
    background-color: rgb(51, 51, 51);
}


/* footer */

#footer{
    /* background-image: linear-gradient(to right, #a517ba, #5f1782); */
    color: #fff;
    background: black;
    border-bottom: 2px solid white;
}



.footer-box{
    padding: 20px;
}

.footer-box a{
    color: #069370;
  height: 60px;
  font-size: 36px;
  line-height: 60px;
  /* padding: 0 20px; */
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  /* float: left; */
  font-weight: 700;
}

.footer-box .fa{
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    /* background-image: linear-gradient(to right, #a517ba, #5f1782); */


}


.form-control{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;

}

.footer-box .btn-primary{
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}

hr{
    color: wheat;
}

.copyright{
    margin-bottom: 0;
    padding-bottom: 20px;
    text-align: center;
    
}


/*About US*/

.abus{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin-left: 90px;
    
    
}

.first {
    position: absolute;
    top: 160px;
    left: 15px;
    
}

.second {
    position: absolute;
    top: 300px;
    left: 15px;
    
}



.fonts{
    font-size: 2.8em;
    font-family: 'Red Rose', cursive;
    color: whitesmoke;
    text-shadow: 1px 1px lightgray;
    margin-left: 730px;
    margin-top: -100px;

}


.fontf{
    font-size: 1.8em;
    font-family: 'Red Rose', cursive;
    color: whitesmoke;
    text-shadow: 1px 1px lightgray;
    margin-left: 730px;
    margin-top: -20px;

    opacity: 65%;

}



.button{
    position: absolute;
    top: 490px;
    left: 820px;
}

@media(max-width: 1185px){
	.button{
		position: absolute;
        top: 550px;
        left: 820px;
	}
}

@media(max-width : 1155px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: 10px;
    }

    .fonts{
        font-size: 2.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 610px;
        margin-top: -100px;
    
    }

    .fontf{
        font-size: 1.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 610px;
        margin-top: -20px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 510px;
        left: 710px;
    }
    
}

@media(max-width : 1065px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -20px;
    }

    .fonts{
        font-size: 2.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 610px;
        margin-top: -100px;
    
    }

    .fontf{
        font-size: 1.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 610px;
        margin-top: -20px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 560px;
        left: 690px;
    }
    
}


@media(max-width : 1035px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -50px;
    }

    .fonts{
        font-size: 2.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 550px;
        margin-top: -100px;
    
    }

    .fontf{
        font-size: 1.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 550px;
        margin-top: -20px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 520px;
        left: 650px;
    }
    
}

@media(max-width : 1003px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -80px;
    }

    .fonts{
        font-size: 2.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 510px;
        margin-top: -100px;
    
    }

    .fontf{
        font-size: 1.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 510px;
        margin-top: -20px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 520px;
        left: 615px;
    }
    
}

@media(max-width : 964px){
    
    .button{
        position: absolute;
        top: 550px;
        left: 610px;
    }
    
}

@media(max-width : 935px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -90px;
        margin-top: -50px;
    }

    .fonts{
        font-size: 2.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 480px;
        margin-top: -150px;
    
    }

    .fontf{
        font-size: 1.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 480px;
        margin-top: -20px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 510px;
        left: 580px;
    }
    
}

@media(max-width : 905px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -90px;
        margin-top: -50px;
    }

    .fonts{
        font-size: 2.6em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 480px;
        margin-top: -150px;
    
    }

    .fontf{
        font-size: 1.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 480px;
        margin-top: -20px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 500px;
        left: 570px;
    }
    
}

@media(max-width : 876px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -100px;
        margin-top: -50px;
    }

    .fonts{
        font-size: 2.6em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 460px;
        margin-top: -150px;
    
    }

    .fontf{
        font-size: 1.8em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 460px;
        margin-top: -20px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 490px;
        left: 550px;
    }
    
}

@media(max-width : 856px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -100px;
        margin-top: -50px;
    }

    .fonts{
        font-size: 2.3em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 460px;
        margin-top: -150px;
    
    }

    .fontf{
        font-size: 1.4em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 460px;
        margin-top: -20px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 460px;
        left: 510px;
    }
    
}

@media(max-width : 815px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -110px;
        margin-top: -50px;
    }

    .fonts{
        font-size: 2.1em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 430px;
        margin-top: -150px;
    
    }

    .fontf{
        font-size: 1.2em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 430px;
        margin-top: -20px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 470px;
        left: 460px;
    }
    
}

@media(max-width : 726px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -120px;
        margin-top: -50px;
    }

    .fonts{
        font-size: 2.1em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 410px;
        margin-top: -120px;
    
    }

    .fontf{
        font-size: 1.2em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 410px;
        margin-top: -10px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 510px;
        left: 450px;
    }
    
}

@media(max-width : 707px){
    .abus{
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        margin-left: -120px;
        margin-top: -50px;
    }

    .fonts{
        font-size: 2.0em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 410px;
        margin-top: -120px;
    
    }

    .fontf{
        font-size: 1.0em;
        font-family: 'Red Rose', cursive;
        color: whitesmoke;
        text-shadow: 1px 1px lightgray;
        margin-left: 410px;
        margin-top: -10px;
    
        opacity: 65%;
    
    }

    .button{
        position: absolute;
        top: 555px;
        left: 425px;
    }
    
}
